:root {
    --blue-gray-dark: #2D354A;
    --blue-gray-dark-rgb: 34, 49, 63; /* RGB values of #22313f */
    --blue-gray-medium: #868ea0;
    --blue-gray-light: #f5f7fb;
    --text-gray-600: #78829B;

    --blue-50: #eff6ff;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;                    
    --blue-400: #60a5fa;
    --blue-600: #2563eb;
}

.btn-blue-dark { background-color: var(--blue-600) !important; }
.btn-blue-medium { background-color: var(--blue-400) !important; }
.btn-blue-light {background-color: var(--blue-200) !important; }

body {
    background: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* CUSTOMER FORM */
.customerform-label {
    min-width: 120px;
    margin-bottom: -7px !important;
}
.customerform-third-column .customerform-label{
    min-width: 70px !important;
}
.customerform-input {
    border: none;
    border-bottom: 1px dashed #868ea0;
    background: transparent;
    padding: 1px 3px;
    width: 90%;
    height: calc(1em + 0.4rem);
}
.customerform-input:focus {
    outline: none;
    border-bottom: 2px solid var(--blue-600);
}

/* DROPZONE */
.textarea-outer-container {
    border: 2px dashed #868ea0;
    border-radius: 0.5rem;
    background-color: #f5f7fb;
    cursor: pointer;
}
.textarea-outer-container.focused {
  border-color: #2d588d;
}
textarea {
    border: none;
    outline: none;
    background: transparent;
    resize: none;
}
textarea:focus {
    background-color: #dbe2ef;
}
.textarea-text-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.text-gray-italic {
    font-style: italic;
    color: #868ea0;
}
#dropzone.show {
    animation: fadeIn 0.5s ease-in-out;
}

/* TABLE 1 */
.table1.show { 
    animation: fadeIn 0.5s ease-in-out;
}
.table1 tbody td:last-child {
    padding: 0 !important;
    vertical-align: middle;
    border-right: none;
}
.table1 tbody td {
    border-right: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 6px 12px;
    cursor: text;
}
.table1 tbody tr td:first-child {
    font-weight: 500;
}
.table tbody tr td:not(:first-child) {
    color: var(--text-gray-600);
}
.table1 tbody td[contenteditable="true"]:focus {
    background-color: var(--blue-50);
    outline: none; 
    box-shadow: inset 0 0 3px 2px var(--blue-400);
    color: #333;
}
.table1 tbody td[contenteditable="true"]:hover:not(:focus) {
    background-color: var(--blue-50)
}

/* TABLE 2 */
/* larghezza colonne */
.table2 th:nth-child(2),
.table2 th:nth-child(3),
.table2 th:nth-child(4),
.table2 th:nth-child(5),
.table2 th:nth-child(6),
.table2 th:nth-child(7),

.table2 td:nth-child(2),
.table2 td:nth-child(3),
.table2 td:nth-child(4),
.table2 td:nth-child(5),
.table2 td:nth-child(6) {
	width: 130px;
}
.table2 td:nth-child(7) {
	width: 115px;
}
/* ultime colonne bordate */
.table2 tr td:nth-last-child(2),
.table2 tr td:last-child {
    border: 1px solid #333;
    padding-left: 10px
}

/* LEGEND */
.legend-item {
  height: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.flex-grow-1:first-child .legend-item {
  border-left: 1px solid #333;
}












@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}




